<mat-horizontal-stepper>

  <mat-step>
    <ng-template matStepLabel>Principal</ng-template>

    <form [formGroup]="firstFormGroup">
      <mat-form-field>
        <mat-select placeholder="Select Patient" formControlName="patient">
          <mat-option *ngFor="let p of patients" [value]="p">
            {{p.firstName}} {{p.lastName}}
          </mat-option>
        </mat-select>
      </mat-form-field>



    </form>

  </mat-step>
  <mat-step>

  </mat-step>
  <mat-step>

  </mat-step>
</mat-horizontal-stepper>
