<mat-dialog-content>
  <mat-toolbar>
    <span >Medic data</span>
  </mat-toolbar>
  <div>
    <mat-form-field>
      <input matInput placeholder="primary Name" [(ngModel)]="medic.primaryName">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="surName" [(ngModel)]="medic.surName">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="cmp" [(ngModel)]="medic.cmp">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="photo" [(ngModel)]="medic.photo">
    </mat-form-field>
   <!-- <img mat-car-image [src]="medic.photo" width="50%" height="50%" *ngIf="medic.photo" >-->

    <button mat-raised-button color="primary" (click)="sendData()">Done</button>
    <button mat-raised-button color="warn" (click)="close()">Close</button>

  </div>
</mat-dialog-content>
